######################################################
# GNUpod 0.99.5 Configuration                        #
#                                                    #
# Save this file as:                                 #
# ~/.gnupodrc or $ipod/iPod_Control/.gnupod/gnupodrc #
######################################################


##### GLOBAL OPTIONS #####

## Set the mountpoint for the iPod
# mount = /mnt/ipod

## Specify iPod model
## This is only needed to get artwork working (GNUpod needs to convert
## images into a model-specific format)
##
## Valid choices are:
## * video   (default)
## * nano    (pre-2007 nanos)
## * nano_3g (the late 2007 nano)
## * nano_4g (the late 2008 nano)
# model = video

## Let GNUpod call mktunes.pl itself.
## This may cause a slow-down when dealing with
## large databases on slow CPUs because mktunes.pl
## may take some time to complete
# automktunes = 1



##### NON GLOBAL OPTIONS ######

# *** mktunes.pl ***

## Specify the iPods name
# mktunes.ipod-name = Wurstli

## Set --volume boost to +10 percent 
# mktunes.volume = +10

## Enforce iPod serial number:
# mktunes.fwguid = 000ba3100310abcf

## Only keep some attributes to make the iTunesDB fit inside small RAM
## The minimum attributes needed by the iPod are path and title
## Valid attributes are:
## title path album artist genre fdesc eq comment category composer group
## desc podcastguid podcastrss chapterdata subtitle tvshow tvepisode
## tvnetwork albumartist artistthe keywords sorttitle sortalbum
## sortalbumartist sortcomposer sorttvshow
# low_ram_attr = path title artist album

# *** on the go sync (V2 Firmware) ***

## Uncomment this to skip 'on-the-go' sync
# otgsync.nosync = 1

# *** tunes2pod.pl ***

## Uncomment to set '--force' switch to true (DANGEROUS)
# tunes2pod.force = 1

## Setting the low_ram_attr option above causes tunes2pod.pl to sync
## the attibutes in iTunesDB with those in GNUtunesDB.xml to make sure
## attributes not present in iTunesDB will be lost

# *** gnupod_search.pl ***

## Always match only once
# gnupod_search.match-once = 1


# *** gnupod_addsong.pl ***

## Disable ID3V2 Tag reading
# gnupod_addsong.disable-v2 = 1

## Disable ID3V1 Tag reading
# gnupod_addsong.disable-v1 = 1

